page-home {
	.takePhoto{
		bottom: 110px !important;
		left: 42% !important;
	}
	.swiper-pagination-bullets{
		display: none;
	}
	.ion-slides{
		height: 75% !important;
	}
	.fab-md-primary{
		left: 42% !important;
	}
	.colorLable{
		text-align: center;
	}
	.swiper-container{
		height: 85% !important;
	}
}
